header {
    background-color: #bbbbbb;
    padding: 20px;
}

.contenedor{
    width: 940;
    position: relative;
    margin: 0 100px auto;

}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #a8c8ec;
    text-decoration: underline;
}

nav{
    position: absolute;
    top: 136px;
    right: 0;
}

.titulo-principal{
    padding-left: 30px;
}

.titulo-centralizado{
    text-align: center;
}

p{
    text-align: center;
}

em b{
    color: #FF0000;
}

#mision{
    font-size: 20px;
}

#banner {
    width: 100%;
}



.principal{
    background: #dddddd;
    padding: 20px;
}

.diferenciales{
    background: #ffffff;
    padding: 30px;
}


.items{
    font-style: italic;
}

.diferenciales-ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imgDiferenciales{
    width: 50%;
}

footer{
    text-align: center;
    background: url(../img/bg.jpg);
    padding: 40px;
}

footer img{
    height: 200px;
}

.copyright{
    margin: 20px;
    color: #ffffff;
    font-size: 13px;
}